<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <configSections>
    <section name="CdcsBaseUris" type="System.Configuration.NameValueSectionHandler" />
    <section name="CdcsComplexUris" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <connectionStrings>
    <add name="CdcsData" connectionString="Server=(localdb)\mssqllocaldb;Database=CdcsData;Trusted_Connection=True;" />
  </connectionStrings>

  <appSettings>
    <add key="XmlDirectory" value="C:\TmpFiles\XmlFiles\" />
    <add key="InputCategories" value="export_categories" />
    <add key="OutputCategories" value="output_categories" />
    <add key="InputOrganisations" value="export_organisations" />
    <add key="OutputOrganisations" value="test_organisations_deserialization" />
    <add key="XslTransformer" value="xsl_transformer" />
  </appSettings>

</configuration>