<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <configSections>
    <section name="CdcsBaseUris" type="System.Configuration.NameValueSectionHandler" />
    <section name="CdcsComplexUris" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <connectionStrings>
    <add name="CdcsData" connectionString="Server=(localdb)\mssqllocaldb;Database=CdcsData;Trusted_Connection=True;" />
  </connectionStrings>

  <appSettings>
    <add key="JsonFiles" value="C:\TmpFiles\JsonFiles\" />
  </appSettings>

  <CdcsBaseUris>
    <add key="CdcsActionZones" value="https://social.brussels/rest/actionzones" />
    <add key="CdcsAccreditors" value="https://social.brussels/rest/agreementpowers" />
    <add key="CdcsAccreditationTypes" value="https://social.brussels/rest/agreements" />
    <add key="CdcsLanguages" value="https://social.brussels/rest/languageoffer" />
    <add key="CdcsLegalStatus" value="https://social.brussels/rest/legalstatus" />
    <add key="CdcsSectors" value="https://social.brussels/rest/sectors" />
    <add key="CdcsServiceTypes" value="https://social.brussels/rest/offertypes" />
  </CdcsBaseUris>
  <CdcsComplexUris>
    <!-- <add key="CdcsOrganizations" value="https://social.brussels/rest/search/category?activity=*&allwords=true" /> -->
    <add key="CdcsSector_byId" value="https://social.brussels/rest/sector/{0}" />
    <add key="CdcsOrganization_byId" value="https://social.brussels/rest/search/organisation/?organisationIds={0}" />
    <add key="CdcsTopics_bySectorId" value="https://social.brussels/rest/sector/{0}/paths" />
    <add key="CdcsOrganisations_byCategoryId" value="https://social.brussels/rest/search/organisation/category={0}" />
    <add key="CdcsOrganisations_byAccreditationId" value="https://sociaal.brussels/rest/search/organisation?agreements={0}" />
  </CdcsComplexUris>
  <!--
  <CdcsJsonToObjectsDictionnary>
  <add key="accessFr" value="Access_FR" />
  <add key="accessNl" value="Access_NL" />
  <add key="activitiesFr" value="Activities_FR" />
  <add key="activitiesNl" value="Activities_NL" />
  <add key="address" value="Address" />
  <add key="agreementPower" value="AgreementPower" />
  <add key="agreementPowerId" value="AgreementPower_ID" />
  <add key="categories" value="Categories" />
  <add key="categoriesObject" value="CategoriesObject" />
  <add key="descriptionFr" value="Description_FR" />
  <add key="descriptionNl" value="Description_NL" />
  <add key="districtCode" value="District_Code" />
  <add key="districtFr" value="District_FR" />
  <add key="districtNl" value="District_NL" />
  <add key="emailFr" value="Email_FR" />
  <add key="emailNl" value="Email_NL" />
  <add key="faxFr" value="Fax_FR" />
  <add key="faxNl" value="Fax_NL" />
  <add key="id" value="Id" />
  <add key="isInterpreting" value="IsInterpreting" />
  <add key="keywordsFr" value="Keywords_FR" />
  <add key="keywordsNl" value="Keywords_NL" />
  <add key="labelFr" value="Label_FR" />
  <add key="labelNl" value="Label_NL" />
  <add key="langStatus" value="LanguageStatus" />
  <add key="lastUpdate" value="LastUpdate" />
  <add key="lat" value="Latitude" />
  <add key="legalStatus" value="LegalStatus" />
  <add key="lon" value="Longitude" />
  <add key="municipalityFr" value="City_FR" />
  <add key="municipalityNl" value="City_NL" />
  <add key="nameAlternativeFr" value="AlternativeName_FR" />
  <add key="nameAlternativeNl" value="AlternativeName_NL" />
  <add key="nameFormerFr" value="FormerName_FR" />
  <add key="nameFormerNl" value="FormerName_NL" />
  <add key="nameFr" value="Name_FR" />
  <add key="nameNl" value="Name_NL" />
  <add key="nameOfficialFr" value="OfficialName_FR" />
  <add key="nameOfficialNl" value="OfficialName_NL" />
  <add key="nameServiceFr" value="Service_FR" />
  <add key="nameServiceNl" value="Service_NL" />
  <add key="number" value="AddressNumber" />
  <add key="numberBuilding" value="BuildingNumber" />
  <add key="order" value="SortOrder" />
  <add key="organisationsCount" value="OrganisationsCount" />
  <add key="otherAgreementFr" value="OtherAgreement_FR" />
  <add key="otherAgreementNl" value="OtherAgreement_NL" />
  <add key="parents" value="Parents" />
  <add key="permanencyFr" value="Permanency_FR" />
  <add key="permanencyNl" value="Permanency_NL" />
  <add key="pmRp" value="PmRp" />
  <add key="postalBox" value="PoBox" />
  <add key="postalCodeFr" value="ZipCode_FR" />
  <add key="postalCodeNl" value="ZipCode_NL" />
  <add key="publicationFr" value="Publication_FR" />
  <add key="publicationNl" value="Publication_NL" />
  <add key="publicFr" value="Public_FR" />
  <add key="publicNl" value="Public_NL" />
  <add key="remarkFr" value="Comment_FR" />
  <add key="remarkFr" value="Comment_NL" />
  <add key="sectorsObjects" value="Sectors" />
  <add key="startDate" value="StarDate" />
  <add key="statisticsCode" value="Stats_Code" />
  <add key="statisticsNameFr" value="Stats_FR" />
  <add key="statisticsNameNl" value="Stats_NL" />
  <add key="streetFr" value="Street_FR" />
  <add key="streetNl" value="Street_NL" />
  <add key="subventionFr" value="Subsidy_FR" />
  <add key="subventionNl" value="Subsidy_NL" />
  <add key="telFr" value="Phone_FR" />
  <add key="telNl" value="Phone_NL" />
  <add key="titleFr" value="Title_FR" />
  <add key="titleNl" value="Title_NL" />
  <add key="type" value="Type" />
  <add key="urlsFr" value="Urls_FR" />
  <add key="urlsNl" value="Urls_NL" />
  <add key="websiteBelgianOfficialJournalFr" value="BO_FR" />
  <add key="websiteBelgianOfficialJournalNl" value="BO_NL" />
  <add key="websiteInfoFr" value="InfoWeb_FR" />
  <add key="websiteInfoNl" value="InfoWeb_NL" />
  <add key="websiteOfficialFr" value="OfficialWeb_FR" />
  <add key="websiteOfficialNl" value="OfficialWeb_NL" />
  <add key="websiteUnofficialFr" value="Web_FR" />
  <add key="websiteUnofficialNl" value="Web_NL" />
  <add key="x" value="X_Coord" />
  <add key="y" value="Y_Coord" />
  <add key="zipCode" value="ZipCode" />
  </CdcsJsonToObjectsDictionnary>
  -->

</configuration>